# CMake build outputs
build/
CLI/build/
CLI/build-remote/
**/bin/
**/obj/


# Node.js dependencies
node_modules/
**/node_modules/

# vcpkg generated dependencies
CLI/vcpkg_installed/
**/vcpkg/packages/
**/vcpkg/installed/
**/vcpkg/buildtrees/
**/vcpkg/downloads/

# Editor / OS caches
.vscode/
.DS_Storeaigit-demo/
